<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Form to add new Blog</h1>

    <form action="/blogs" method="post">
      <section>
        <label for="aadmi">Author:</label>
        <input type="text" name="author" id="aadmi" />
      </section>
      <section>
        <label for="blog">Comment:</label>
        <textarea name="comment" id="blog" cols="30" rows="10"></textarea>
      </section>
      <button type="submit">Add Blog</button>
    </form>
  </body>
</html>
